/* Partes de fundo e modelagem da tela*/

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--fundo);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    font-family: "Lucida Sans", sans-serif;
    --fundo: #ffffff;
    --fonte: black;
    --claro: #ecebeb;
    --btn-enviar: #b8b9b8b7;
}


/*Parte do Titulo da página*/

.header {
    background-color: var(--claro);
    padding-top: 10px;
    padding-bottom: 7px;
}

.imagem {
    position: absolute;
    left: 94%;
    top: 5px;
}


/*.buscar {
    position: relative;
    margin-left: 70vh;
    margin-top: -15vh;
}
*/

.saldo {
    position: absolute;
    right: 10%;
    top: 30px;
}

.btn-buscar {
    position: relative;
    border-radius: 20px;
    padding-left: 150px;
    padding-top: 15px;
    text-align: left;
    border-color: black;
    background: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    border-style: solid;
}

input[type="search"] {
    margin-right: 100px;
    padding-left: 5%;
    width: 70px;
    border: none;
    background: rgba(255, 255, 255, 0.6);
}


/*Corpo da Página (Cotações)*/

.flex-container {
    flex-direction: wrap;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

[id="btn-venda"] {
    background-color: red;
    border: none;
}

[id="btn-compra"] {
    background-color: green;
    border: none;
}

.flex-container>div {
    margin: auto;
    width: 100px;
    text-align: center;
}

[id="form-cotacao"] {
    padding: 70%;
    border: solid;
    border-color: black;
    text-align: center;
}

[class*="col-"] {
    width: 100%;
}


/*Parte de baixo da página e Contato*/

footer {
    background-color: var(--claro);
    flex-shrink: 0;
    padding: -1%;
    text-align: center;
}

.contato {
    background-color: var(--claro);
    padding: 1%;
}

[id="btn-cont-enviar"] {
    border: none;
    background-color: var(--btn-enviar);
    border-radius: 3px;
    font-size: 15px;
}

[id="btn-cont-cancelar"] {
    border: none;
    background-color: var(--btn-enviar);
    border-radius: 3px;
    font-size: 15px;
}

[id="lb-nome"] {
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid;
    border-color: white;
    font-size: 15px;
}

[id="lb-email"] {
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid;
    border-color: white;
    font-size: 15px;
}

[id="lb-tel"] {
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid;
    border-color: white;
    font-size: 15px;
}

.menubaixo nav {
    position: absolute;
    left: 40%;
    width: 30%;
    bottom: 10vh;
    background-color: silver;
}


/* Menu abaixo da imagem */

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 12px;
    border: solid;
    border-color: white;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #696b69;
}


/* Aqui fica a parte responsiva*/

@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .cotacao {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 93%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}